###
# sed -i '/^CONFIG/ s/^/#/' ./patches/configs_disabled_subsystems.config
###

#
# Data Access Monitoring
#

CONFIG_DAMON=n

#
# Device Drivers
#

CONFIG_PCI=n

#
# IEEE 1394 (FireWire) support
#

CONFIG_FIREWIRE=n
CONFIG_FIREWIRE_NOSY=n

#
# Wireless WAN
#

CONFIG_WWAN=n

#
# Software defined radio USB devices
#

CONFIG_MEDIA_PCI_SUPPORT=n

# end of Graphics support

CONFIG_SND_PCI=n

#
# Simatic LED drivers
#

CONFIG_ACCESSIBILITY=n
CONFIG_INFINIBAND=n

#
# Microsoft Hyper-V guest support
#

CONFIG_HYPERV=n

# end of Rpmsg drivers

CONFIG_SOUNDWIRE=n

